<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body style="background-color: rgb(94, 94, 94);">
    <div style="height: 90px;
                width: 200px;
                background-color: aquamarine;
                margin: 0 auto;
                margin-top: 15px;
                font-size: 50px;
                display: flex;
                text-align: center;
                border-radius: 15px;
                border: 2px solid black;">
        <a href="rap_singers" style="color: black; ">Rap</a>
    </div>
    <div style="height: 90px;
                width: 200px;
                background-color: aquamarine;
                margin: 0 auto;
                margin-top: 15px;
                font-size: 50px;
                display: flex;
                text-align: center;
                border-radius: 15px;
                border: 2px solid black;">
        <a href="pop_singers" style="color: black;">Pop</a>
    </div>
    <div style="height: 90px;
                width: 200px;
                background-color: aquamarine;
                margin: 0 auto;
                margin-top: 15px;
                font-size: 50px;
                display: flex;
                text-align: center;
                border-radius: 15px;
                border: 2px solid black;">
        <a href="rock_singers" style="color: black;">Rock</a>
    </div>
    <div style="height: 90px;
                width: 200px;
                background-color: aquamarine;
                margin: 0 auto;
                margin-top: 15px;
                font-size: 50px;
                display: flex;
                text-align: center;
                border-radius: 15px;
                border: 2px solid black;">
        <a href="phonk_singers" style="color: black;">Phonk</a>
    </div>
    <div style="height: 90px;
                width: 200px;
                background-color: aquamarine;
                margin: 0 auto;
                margin-top: 15px;
                font-size: 50px;
                display: flex;
                text-align: center;
                border-radius: 15px;
                border: 2px solid black;">
        <a href="jazz_singers" style="color: black;">Jazz</a>
    </div>

</body>

</html>